<!DOCTYPE html>
<html lang="pl">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='bootstrap.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='main.css') }}">

</head>

<body>
    <div id="immobile">
        <h1>Ankieta</h1>

    </div>

    <div id="mobile">
        <p>Jesteśmy wdzięczni za dotarcie do tego momentu. Dziękujemy za poświęcone nam minuty i mamy nadzieję, że fiolet podziałał antystresowo
        </p>
    </div>

</body>

</html>